/.idea/
/vendor/
/ignore/
/app/config/.gitignore
/app/config/production/
/app/config/testing/
/bin/install/packages/
/storage/
/public/assets/compiled/
/public/assets/base/packages/
/composer.local.json
