html{
    min-height:100%;
    font-family:'PT Sans', 'Hiragino Sans GB', 'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1', sans-serif;
    position:relative;
}

body{
    color:#333;
}

a{
    color:#369;
}

.hidden{
    display:none;
}

.msg{
    margin-top:.5em;
    padding:.5em;
}

.msg p{
    margin:0;
    padding:.5em;
}

.msg-error{
    background:#fbb;
    border-left:5px solid #d55;
}

.nav{
    line-height:24px;
    padding:15px 0;
}

@media (max-width:500px){
    nav.active{
        height:auto;
    }
}

.body{
    padding-bottom:60px;
}

.footer{
    bottom:0;
    font-size:14px;
    height:60px;
    left:0;
    position:absolute;
    right:0;
}

.footer .col{
    line-height:60px;
}

.footer .row, .footer form > *{
    margin:0;
}

.footer form label span, form input[type=checkbox]{
    margin-right:.5em;
}

.footer a{
    color:#aaa;
    padding-right:1em;
    position:relative;
}

.footer,
.footer a:hover{
    background:#000;
    color:#fff;
}

.footer a{
    text-decoration:none;
}

.footer .btn{
    padding-bottom:0;
    padding-top:0;
}

@media (max-width:870px){
    .body{
        padding-bottom:120px;
    }

    .footer{
        height:120px;
    }

    .footer .col{
        text-align:center;
    }
}

ul.non-list, ul.non-list li{
    list-style:none;
    padding:0;
}

.locale-selector{
    text-align:right;
}

.btn-d{
    background:#369;
}

.btn-d:hover{
    background:#258;
    /* darken(@btn-d-bg, 5%) */
}

.btn-d:active,
.btn-d:focus{
    background:#147;
    /* darken(@btn-d-bg, 10%) */
}
