/* cyrillic-ext */
@font-face{
    font-family:'PT Sans';
    font-style:normal;
    font-weight:400;
    src:local('PT Sans'), local('PTSans-Regular'),
    url(/assets/base/fonts/ptsans/woff2/JX7MlXqjSJNjQvI4heMMGvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2'),
    url(/assets/base/fonts/ptsans/woff/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff'),
    url(/assets/base/fonts/ptsans/ttf/FUDHvzEKSJww3kCxuiAo2A.ttf) format('truetype');
    unicode-range:U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face{
    font-family:'PT Sans';
    font-style:normal;
    font-weight:400;
    src:local('PT Sans'), local('PTSans-Regular'),
    url(/assets/base/fonts/ptsans/woff2/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2'),
    url(/assets/base/fonts/ptsans/woff/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff'),
    url(/assets/base/fonts/ptsans/ttf/FUDHvzEKSJww3kCxuiAo2A.ttf) format('truetype');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face{
    font-family:'PT Sans';
    font-style:normal;
    font-weight:400;
    src:local('PT Sans'), local('PTSans-Regular'),
    url(/assets/base/fonts/ptsans/woff2/9kaD4V2pNPMMeUVBHayd7vY6323mHUZFJMgTvxaG2iE.woff2) format('woff2'),
    url(/assets/base/fonts/ptsans/woff/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff'),
    url(/assets/base/fonts/ptsans/ttf/FUDHvzEKSJww3kCxuiAo2A.ttf) format('truetype');
    unicode-range:U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face{
    font-family:'PT Sans';
    font-style:normal;
    font-weight:400;
    src:url(/assets/base/fonts/ptsans/eot/S1YQx4pVZa17uu0HWQd2fA.eot);
    src:local('PT Sans'), local('PTSans-Regular'),
    url(/assets/base/fonts/ptsans/woff2/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2'),
    url(/assets/base/fonts/ptsans/woff/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff'),
    url(/assets/base/fonts/ptsans/ttf/FUDHvzEKSJww3kCxuiAo2A.ttf) format('truetype');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face{
    font-family:'PT Sans';
    font-style:normal;
    font-weight:700;
    src:local('PT Sans Bold'), local('PTSans-Bold'),
    url(/assets/base/fonts/ptsans/woff2/kTYfCWJhlldPf5LnG4ZnHCEAvth_LlrfE80CYdSH47w.woff2) format('woff2'),
    url(/assets/base/fonts/ptsans/woff/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff) format('woff'),
    url(/assets/base/fonts/ptsans/ttf/0XxGQsSc1g4rdRdjJKZrNC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
    unicode-range:U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face{
    font-family:'PT Sans';
    font-style:normal;
    font-weight:700;
    src:local('PT Sans Bold'), local('PTSans-Bold'),
    url(/assets/base/fonts/ptsans/woff2/g46X4VH_KHOWAAa-HpnGPiEAvth_LlrfE80CYdSH47w.woff2) format('woff2'),
    url(/assets/base/fonts/ptsans/woff/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff) format('woff'),
    url(/assets/base/fonts/ptsans/ttf/0XxGQsSc1g4rdRdjJKZrNC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face{
    font-family:'PT Sans';
    font-style:normal;
    font-weight:700;
    src:local('PT Sans Bold'), local('PTSans-Bold'),
    url(/assets/base/fonts/ptsans/woff2/hpORcvLZtemlH8gI-1S-7iEAvth_LlrfE80CYdSH47w.woff2) format('woff2'),
    url(/assets/base/fonts/ptsans/woff/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff) format('woff'),
    url(/assets/base/fonts/ptsans/ttf/0XxGQsSc1g4rdRdjJKZrNC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
    unicode-range:U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face{
    font-family:'PT Sans';
    font-style:normal;
    font-weight:700;
    src:local('PT Sans Bold'), local('PTSans-Bold'),
    url(/assets/base/fonts/ptsans/woff2/0XxGQsSc1g4rdRdjJKZrNPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2'),
    url(/assets/base/fonts/ptsans/woff/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff) format('woff'),
    url(/assets/base/fonts/ptsans/ttf/0XxGQsSc1g4rdRdjJKZrNC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face{
    font-family:'PT Sans';
    font-style:italic;
    font-weight:400;
    src:local('PT Sans Italic'), local('PTSans-Italic'),
    url(/assets/base/fonts/ptsans/woff2/GpWpM_6S4VQLPNAQ3iWvVRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2'),
    url(/assets/base/fonts/ptsans/woff/PIPMHY90P7jtyjpXuZ2cLD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'),
    url(/assets/base/fonts/ptsans/ttf/PIPMHY90P7jtyjpXuZ2cLKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
    unicode-range:U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face{
    font-family:'PT Sans';
    font-style:italic;
    font-weight:400;
    src:local('PT Sans Italic'), local('PTSans-Italic'),
    url(/assets/base/fonts/ptsans/woff2/7dSh6BcuqDLzS2qAASIeuhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2'),
    url(/assets/base/fonts/ptsans/woff/PIPMHY90P7jtyjpXuZ2cLD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'),
    url(/assets/base/fonts/ptsans/ttf/PIPMHY90P7jtyjpXuZ2cLKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face{
    font-family:'PT Sans';
    font-style:italic;
    font-weight:400;
    src:local('PT Sans Italic'), local('PTSans-Italic'),
    url(/assets/base/fonts/ptsans/woff2/DVKQJxMmC9WF_oplMzlQqRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2'),
    url(/assets/base/fonts/ptsans/woff/PIPMHY90P7jtyjpXuZ2cLD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'),
    url(/assets/base/fonts/ptsans/ttf/PIPMHY90P7jtyjpXuZ2cLKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
    unicode-range:U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face{
    font-family:'PT Sans';
    font-style:italic;
    font-weight:400;
    src:local('PT Sans Italic'), local('PTSans-Italic'),
    url(/assets/base/fonts/ptsans/woff2/PIPMHY90P7jtyjpXuZ2cLFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'),
    url(/assets/base/fonts/ptsans/woff/PIPMHY90P7jtyjpXuZ2cLD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'),
    url(/assets/base/fonts/ptsans/ttf/PIPMHY90P7jtyjpXuZ2cLKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face{
    font-family:'PT Sans';
    font-style:italic;
    font-weight:700;
    src:local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
    url(/assets/base/fonts/ptsans/woff2/lILlYDvubYemzYzN7GbLkK-j2U0lmluP9RWlSytm3ho.woff2) format('woff2'),
    url(/assets/base/fonts/ptsans/woff/lILlYDvubYemzYzN7GbLkHhCUOGz7vYGh680lGh-uXM.woff) format('woff'),
    url(/assets/base/fonts/ptsans/ttf/lILlYDvubYemzYzN7GbLkInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
    unicode-range:U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face{
    font-family:'PT Sans';
    font-style:italic;
    font-weight:700;
    src:local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
    url(/assets/base/fonts/ptsans/woff2/lILlYDvubYemzYzN7GbLkJX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2'),
    url(/assets/base/fonts/ptsans/woff/lILlYDvubYemzYzN7GbLkHhCUOGz7vYGh680lGh-uXM.woff) format('woff'),
    url(/assets/base/fonts/ptsans/ttf/lILlYDvubYemzYzN7GbLkInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face{
    font-family:'PT Sans';
    font-style:italic;
    font-weight:700;
    src:local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
    url(/assets/base/fonts/ptsans/woff2/lILlYDvubYemzYzN7GbLkD0LW-43aMEzIO6XUTLjad8.woff2) format('woff2'),
    url(/assets/base/fonts/ptsans/woff/lILlYDvubYemzYzN7GbLkHhCUOGz7vYGh680lGh-uXM.woff) format('woff'),
    url(/assets/base/fonts/ptsans/ttf/lILlYDvubYemzYzN7GbLkInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
    unicode-range:U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face{
    font-family:'PT Sans';
    font-style:italic;
    font-weight:700;
    src:local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
    url(/assets/base/fonts/ptsans/woff2/lILlYDvubYemzYzN7GbLkOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2'),
    url(/assets/base/fonts/ptsans/woff/lILlYDvubYemzYzN7GbLkHhCUOGz7vYGh680lGh-uXM.woff) format('woff'),
    url(/assets/base/fonts/ptsans/ttf/lILlYDvubYemzYzN7GbLkInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
